.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
    color: black;

    &:hover {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
      color: white;
      border: none;
    }
  }
}
